@tailwind base;
@tailwind components;
@tailwind utilities;

.top--7 {
    top: -1.8rem;
}

.border-t-1 {
    border-top-width: 1px;
}

.shadow {
    box-shadow: 0 1px 6px 0 #171717;
}

/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #EEE;
  border-radius: 4px;
  margin-top: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 4px;
}